# Build artifacts
build/
dist/
*.spec

# PyInstaller
__pycache__/
*.py[cod]

# OS/IDE
.DS_Store
.vscode/
.idea/

# Unnecessary folders
GeometryDash/
"Internet Explorer"/
"Windows Media Player"/
"Windows NT"/
